*{

    margin: 0 0 0 0;
    box-sizing: border-box;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;

}

body{


height: 786px;
width: 100%;

}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: azure;

    height: 9%;

  }
  
  #ColorFlipper{
    width: 50%;
    border: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    font-family:sans-serif;
  }
  
  #Options{
    width: 50%;
    border: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-family:sans-serif;
  }
  #trocaFundo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    font-family:sans-serif;
  }
  #fundo{

    height: 91%;
    width: 100%;


  }
  hr{

    margin-block-start: 0.0em;
    margin-block-end: 0.0em;

  }

  #labelDiv {
    background-color: black;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: solid black;
    height: 5%;
    width: 20%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
  }

  button {
    position: absolute;
    top: 60%;
    left: 50%;
    border-radius: 10px;
    height: 5%;
    width: 10%;
    transform: translate(-50%, -50%);
  }
  button:hover {
    position: absolute;
    color: white;
    background-color: black;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  